<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR Code
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanCode()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <ion-label><h1>Lista de Productos</h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let product of products">
      <ion-label>{{ product.description }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
